*{
    box-sizing: border-box;
    font-family: fantasy;
}
body{
    margin: 0;
    padding: 0;
    background-color: cornsilk;
}
p{
    text-align: center;
}
.corcho{
    width: 100vw;
    height: 100vh;
    margin-top: 200px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    max-width: 800px;
    margin: auto;
    
}
.polaroid{
    background-color: whitesmoke;
    box-shadow: 0 0 6px;
    padding:12px;
    padding-bottom: 0;
    max-width: 200px;
}
.polaroid:nth-child(even){
    z-index: 2;
    transform: rotate(10deg);
}
.polaroid:nth-child(odd){
    z-index: 1;
    transform: rotate(-25deg);
}

.polaroid .foto{
    background-color: black;
    min-height: 100px;
    width: 100%;
    /* animation: colores 4s linear 0 infinite forward both; */
    animation-name: colores;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

.polaroid:nth-child(2) .foto{
    animation-delay: 1s;
}
.polaroid:nth-child(3) .foto{
    animation-delay: 2s;
}
.polaroid:nth-child(4) .foto{
    animation-delay: 3s;
}

@keyframes colores {
    0%{
        background-color: red;
    }
    25%{
        background-color: orange;
    }
    50%{
        background-color: yellow;
    }
    75%{
        background-color: green;
    }
    100%{
        background-color: blue
    }
}