*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    margin: 0;
    padding: 0;
}
header{
    padding: 12px;
    background-color: black;
    text-align: center;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.container{
    max-width: 600px;
    margin: auto;
}
