*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    margin: 0;
    padding: 0;
}
header{
    padding: 12px;
    background-color: black;
    text-align: center;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

h3{
    margin: 0;
    font-size: 15px;
}

.container{
    max-width: 700px;
    margin: auto;
}
.products-container{
    display: flex;
}
.product-card{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    padding: 12px;
    margin: 12px;
    max-width: 250px;
    width: 100%;
}
.product-card:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.product-card p{
    font-size: 12px;
}
.product-card .precio{
    font-size: 12px;
    font-weight: 700;
}

